.mainContainer {
  width: 100vw;
  overflow: hidden;
}
.dragContainer {
  width: 100vw;
  background-color: yellowgreen;
  height: 80vh;
}
.editContainer {
  background-color: hotpink;
  height: 80vh;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.mockupImage {
  height: 70vh;
  position: absolute;
  top: 0;
  margin: 30px;
  pointer-events: none;
}
.controlsContainer {
  background-color: lightcoral;
  padding: 10px;
}
.customImage {
  overflow: unset;
}
